// Color scheme
$blue: #1C85E8;
$dark-blue: #1275cc;
$black: #1d2c4c;
$light-black: #525975;
$grey: #616668;
$light-grey: #F4F4F4;

$red: #FF696A;
$yellow: #FDB631;
$orange: #E67E22;
$green: #05CE7C;
$purple: #7C5BF4;
