.value-prop {
  background: white;
  padding: 40px 0px;
  .container {
    width: 60%;
  }
  h3 {
    color: $black;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
  }
  p {
    color: $light-black;
    font-size: 16px;
  }
  img {
    max-height: 50px;
  }
  .value-prop-item {
    animation-duration: 5s;
  }
}
