.validation-section {
  padding: 40px 0px;
  h2 {
    font-size: 26px;
    font-weight: 800;
    color: $green;
    margin-top: 0px;
  }
  h3 {
    font-size: 22px;
    font-weight: 800;
    color: $black;
  }
  p {
    font-size: 16px;
    color: $light-black;
    margin: 40px 0px;
  }
  img {
    max-width: 300px;
  }
  .validation-steps {
    background-color: white;
    border-radius: 6px;
    padding: 40px;
    margin: 40px 0px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  }
  .validation-contact {
    background-color: white;
    border-radius: 6px;
    padding: 40px;
    margin: 40px 0px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    a {
      text-decoration: none;
      color: $green;
    }
    img {
      width: 200px;
    }
  }
  .validation-home {
    display: flex;
    justify-content: center;
  }
}
