<div class="main-section">
  <div class="banner-about" style="background-image: url('<%= image_url("about_image.jpeg") %>'); background-size: cover; background-position: center;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="banner-content">
            <div>
              <h1>Nous sommes convaincus que la transaction immobilière peut être améliorée</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h4>Notre histoire</h4>
        </div>
        <div class="col-xs-12">
          <h2>Nous vous aidons à commencer le prochain chapitre de votre vie</h2>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p>
            In 2014, we set out to reinvent life’s most important transaction with home sellers and buyers in mind. Since then, we’ve helped thousands of people sell their homes and move in one simple, seamless transaction.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p>
            We’ve worked with people in Phoenix, Dallas-Fort Worth, Vegas, and Atlanta to find their dream homes. And we’ve generated over $15 million in commissions for Realtors.
          </p>
        </div>
        <div class="col-xs-12">
          <h3>Rencontrez notre équipe</h3>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h5>
            <strong>Guillaume Lestrade</strong>
            CEO, co-fondateur
          </h5>
          <p>Ancien agent immobilier, Guillaume a créé Homepay afin de simplifier et rendre transparente l'expérience liée à la vente d'un bien immobilier. Auparavant, Guillaume a fondé Meero en 2014, service de photographie professionnelle à la destination de professionnels de l’immobilier (levée de fonds de 15m€ en 2017)</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h5>
            <strong>Alban Porcheron</strong>
            COO, co-fondateur
          </h5>
          <p>Alban travaille sur l'amélioration de l'expérience des acquéreurs et des vendeurs de biens immobiliers. Alban a accompagné des entrepreneurs et des fonds d’investissements dans leurs projets de fusions-acquisitions (KPMG et BNP Paribas). Alban a étudié à l'école Audencia Nantes et Centrale Nantes</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h5>
            <strong>Arthur Reboul</strong>
            CTO, co-fondateur
          </h5>
          <p>Arthur est en charge du développmeent des outils technologiques et des algorithmes de prix utilisés par Homepay pour permettre de simplifier la transaction immobilière. Auparavant, Arthur fut consultant dans le cabinet de conseil McKinsey. Arthur est diplômé de l'Ecole Polytechnique.</p>
        </div>
      </div>
    </div>
  </div>
</div>
