<div class="main-section">
  <div class="banner-about" style="background-image: url('<%= image_url("about_image.jpeg") %>'); background-size: cover; background-position: center;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="banner-content">
            <div>
              <h1>Nous sommes convaincus que la transaction immobilière peut être améliorée</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-section">
    <div class="row">
      <div class="col-xs-12">
        <h4>Notre histoire</h4>
      </div>
      <div class="col-xs-12">
        <h2>Nous vous aidons à commencer le prochain chapitre de votre vie</h2>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>
          In 2014, we set out to reinvent life’s most important transaction with home sellers and buyers in mind. Since then, we’ve helped thousands of people sell their homes and move in one simple, seamless transaction.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>
          We’ve worked with people in Phoenix, Dallas-Fort Worth, Vegas, and Atlanta to find their dream homes. And we’ve generated over $15 million in commissions for Realtors.
        </p>
      </div>
      <div class="col-xs-12">
        <h3>Rencontrez notre équipe</h3>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p></p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p></p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p></p>
      </div>
    </div>
  </div>
</div>
