<div class="main-section">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for(@property_form) do |f| %>
        <%= f.input :address, label: false, input_html: { id: "real_estate_property_address" } %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
