<div class="main-section">
  <div class="container">
    <div class="validation-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <%= image_tag "confirmation.png" %>
            <h1>Votre demande est envoyée</h1>
            <p>Je m'appelle Guillaume et je suis votre référent pour la vente de votre logement. N'hésitez pas à me contacter si vous avez des questions. Nous avons hâte de travailler avec vous.</p>
          </div>
          <%= link_to "Retour", root_path, class: "btn" %>
      </div>
    </div>
  </div>
</div>
