<div class="main-section">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="form-container">
        <div class="form-title text-center">
          <h1>Type de bien</h1>
        </div>
        <div class="row">
          <div class="col-xs-6 text-center">
            <%= link_to property_form_description_1_path(@property_form, property_type:'house'), method: :put do %>
              <div class="btn">
                <i class="fas fa-home" style="font-size: 100px;"></i>
              </div>
              <p>Maison</p>
            <% end %>
          </div>
          <div class="col-xs-6 text-center">
            <%= link_to property_form_description_1_path(@property_form, property_type:'appartment'), method: :put do %>
              <div class="btn">
                <i class="far fa-building" style="font-size: 100px;"></i>
              </div>
              <p>Appartement</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
