<div class="main-section">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <%= render 'property_forms/progress_bar/progress_bar', section: 4, name: 'Description (2/3)' %>
      <div class="form-container">
        <div class="form-title text-center">
          <h1>Description générale du bien (2/4)</h1>
        </div>
        <div class="form-body">
          <%= render 'property_forms/form_sections/form_section_dispatch', page: @property_form.dsc_2_fields %>
        </div>
        <div class="form-validation">
          <div class="btn form-button" id="go-back">
            Retour
          </div>
          <div class="btn form-button" id="validate-section">
            Valider
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to property_form_description_3_path(@property_form), method: :get do %>
  <div class="btn hidden" id="move-to-next-section"></div>
<% end %>
