<div class="main-section">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="form-container">
        <div class="form-title text-center">
          <h1>Confirmation de votre dossier</h1>
        </div>
        <div class="form-body">
          <div class="form-section">
            <div id="map" style="width: 100%;height: 300px; margin-bottom: 20px" data-markers="<%= @marker.to_json %>"></div>
          </div>
          <% @property_form.all_pages.each do |page| %>
            <%= render 'property_forms/form_sections/form_section_dispatch', page: page %>
          <% end %>
        </div>
        <div class="form-validation">
          <div class="btn form-button" id="go-back">
            Retour
          </div>
          <div class="btn form-button" id="validate-section">
            Finaliser
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to property_form_validation_path(@property_form), method: :get do %>
  <div class="btn hidden" id="move-to-next-section"></div>
<% end %>
