<div class="main-section">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="form-container">
        <div class="form-title text-center">
          <%= image_tag "confirmation.png" %>
          <h1>Bravo !</h1>
          <h2>Votre dossier est finalisé et est en cours de traitement</h2>
        </div>
        <div class="form-body">
        </div>
        <div class="text-center">
          <%= link_to root_path do %>
            <div class="btn form-button">
              Quitter
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
