<div class="main-section">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <%= render 'property_forms/progress_bar/progress_bar', section: 1, name: 'Addresse'  %>
      <div class="form-container">
        <div class="form-title text-center">
          <h1>Addresse de votre bien</h1>
        </div>
        <div class="form-body">
          <div class="address-input-form text-center">
            <%= simple_form_for(@property_form) do |f| %>
              <%= f.input :address, label: false, input_html: { id: "real_estate_property_address", class: "form-input form-border", placeholder: "Indiquez l'adresse de votre bien" } %>
              <%= f.submit "Demandez votre offre d'achat", class: "form-submit form-border" %>
            <% end %>
          </div>
        </div>
        <div class="form-validation">
        </div>
      </div>
    </div>
  </div>
</div>
