.address-input-form form {
  display: inline-flex;
  .form-input, .form-submit {
    height: 50px;
    border: solid 2px white;
  }
  .form-border {
    border: 1px solid $blue;
    &:hover {
      border-color: $dark-blue;
    }
  }
  .form-input {
    border-radius: 6px 0px 0px 6px;
    width: 350px;
    font-size: 14px;
  }
  .form-submit {
    color: white;
    font-size: 14px;
    font-weight: 800;
    border-radius: 0px 6px 6px 0px;
    background-color: $blue;
    transition: all ease 0.4s;
    &:hover {
      background-color: $dark-blue;
    }
  }
}

