.btn {
  color: white;
  background: $blue;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 6px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.btn:hover {
  background: $dark-blue;
  text-decoration: none;
  color: white;
}
.white-btn {
  color: $green;
  background: white;
  font-size: 14px;
  border: solid 1px white;
  padding: 10px 15px;
  border-radius: 6px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.white-btn:hover {
  text-decoration: none;
  color: $green;
  border: solid 1px $green;
}
.toggle-btn {
  margin: 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid $blue;
  transition: all 0.3s ease;
  background-color: white;
  &:hover {
  background-color: $blue;
  cursor: pointer;
  }
}

.toggle-btn-active {
  background-color: $blue;
}
