.dropzone-preview-container {
  width: 100%;
}

.dropzone-image-card {
  float: left;
  margin: 7px;
  height: 120px;
  width: 120px;
}
.dropzone-image {
  border-radius: 5px;
}

.dropzone-btn {
  border: solid 1px #DEF7F1;
  border-radius: 6px;
  img {
    margin: 20px 0 0 0;
    max-width: 250px;
    opacity: 0.8;
    transition: all 0.3s ease;
  }
  p {
    margin: 10px 0 20px 0;
    color: $green;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  &:hover {
    cursor: pointer;
    border: solid 1px $green;
    img {
      opacity: 1;
    }
    p {
      color: $dark-green;
    }
  }
}
