.dropzone-preview-container {
  width: 100%;
}

.dropzone-image-card {
  float: left;
  margin: 7px;
  height: 120px;
  width: 120px;
  position: relative;
  img, i {
    transition: all ease 0.4s;
  }
  i {
    position: absolute;
    left: 40px;
    top: 40px;
    opacity: 0;
    color: $green;
    font-size: 40px;
  }
  &:hover {
    img {
      opacity: 0.6;
    }
    i {
      opacity: 1;
    }
  }
}
.dropzone-image {
  border-radius: 5px;
}

.dropzone-btn {
  margin: 20px 0;
  img {
    max-width: 250px;
  }
  &:hover {
    cursor: pointer;
  }
}
